
.importView {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5em;
	z-index: 10001;
	background: #fff;
	box-shadow: 0 1px 3px rgba(150, 150, 150, 0.50);
	-webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 200ms;
    -moz-transition: -moz-transform 200ms;
    -ms-transition: -ms-transform 200ms;
    transition: transform 200ms;
	&.isShowing {
		-webkit-animation: slideDown 450ms;
	    -moz-animation: slideDown 450ms;
	    -ms-animation: slideDown 450ms;
	    animation: slideDown 450ms;
	    overflow-y: scroll;
	    position: fixed;
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	}
	&.isHidden {
		// display: none;
	}
}

/*
==============================================
slideDown
==============================================
*/

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideDown
==============================================
*/

.slideUp{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 200ms;	
	-webkit-animation-duration: 200ms;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;	

	// visibility: visible !important;						
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}		
}

@-webkit-keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}	
}


