.fs_modal {
	position: relative;
	// z-index: 299;
	max-width: 1130px;
	display: table;
	margin: 0 auto;
}
.fs_modal_bg {
	position: fixed;
	top: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	// z-index: 298;
	opacity: 0;
	-webkit-transition: opacity 250ms cubic-bezier(.2,.8,.5,1) .1s,top 0s linear 250ms,left 250ms ease-in-out;
	-moz-transition: opacity 250ms cubic-bezier(.2,.8,.5,1) .1s,top 0s linear 250ms,left 250ms ease-in-out;
	transition: opacity 250ms cubic-bezier(.2,.8,.5,1) .1s,top 0s linear 250ms,left 250ms ease-in-out;
	&.active {
		top: 0;
		opacity: 1;
		-webkit-transition: opacity 250ms cubic-bezier(.2,.8,.5,1),top 0s linear 0s,left 250ms ease-in-out;
		-moz-transition: opacity 250ms cubic-bezier(.2,.8,.5,1),top 0s linear 0s,left 250ms ease-in-out;
		transition: opacity 250ms cubic-bezier(.2,.8,.5,1),top 0s linear 0s,left 250ms ease-in-out;
	}
}

.importView {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5em;
	z-index: 0;
	background: #fff;
	opacity: 0;
	&.isShowing {
		opacity: 1;
		z-index: 500;
	}
	&.isHidden {
		// display: none;
	}
}

/*
==============================================
slideDown
==============================================
*/

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/*
==============================================
slideDown
==============================================
*/

.slideUp{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 200ms;	
	-webkit-animation-duration: 200ms;

	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;	

	// visibility: visible !important;						
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}		
}

@-webkit-keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}	
}


