.header_positioner {
    -webkit-font-smoothing: antialiased;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 300;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    &.no_border {
        border: none!important;
    }
    .header_container {
        z-index: 300;
        background: #fff;
        width: 1020px;
        margin: 0 auto;
        min-width: 905px!important;
        padding-bottom: 10px;
        padding-top: 7px;
        position: relative;
        &.beta {
            .header_logo {
                float: none;
            }
        }
        &.landing {
            .header {
                .header_logo {
                    .site-logo {
                        .site_icon {
                            width: 50px!important;
                        }
                    }
                }
                .header_content {
                    float: right;
                    width: 390px;
                    .create-set-button {
                        color: #007ee5;
                    }
                    .sign_in_wrapper {
                        float: right;
                        width: 87%;
                        padding-top: 9px;
                        padding-bottom: 18px;
                        button {
                            &.sign_in {
                                font-size: 15.5px;
                                float: right;
                                border: 1px solid #fff;
                                border-width: 1px;
                                border-color: #2895F1;
                                color: #2895F1;
                                &:hover {
                                    border-color: #0B57CD;
                                }
                                a {
                                   text-decoration: none; 
                                   &:hover {
                                        color: #0B57CD;
                                   }
                                }
                            }
                        }
                    }
                }
            }
        }
        .header {
            margin: 0 auto;
            .loading_line {
                width: 100%;
                height: 1.5px;
                margin: 0;
                background: #44C45D;
                position: absolute;
                // box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.7);
                -moz-animation: fullexpand 0.5s ease-out;
                -webkit-animation: fullexpand 0.5s ease-out;
            }
            @-moz-keyframes fullexpand {
                0%  { 
                    width: 0px;
                }

                100% {
                    width: 100%;
                }   
            }

            @-webkit-keyframes fullexpand {
                0% {
                    width: 0px;
                }

                100% {
                    width: 100%;
                };
            }
           
            .container {
                min-width: 790px;
            }
            
            .header_logo {
                float: left;
                margin-top: 3px;
                position: relative;
                .site-logo {
                    position: relative;
                    display: inline-block;
                    padding-right: 0px;
                    z-index: 100;
                    border: 0px none;  
                    cursor: pointer; 
                    .site_icon {
                        width: 46px;
                    }
                }
            }
            .header_user {
                color: #555;
                // margin-left: 50px;
                margin-top: 3px;
                display: block;
                position: absolute;
                right: 0px;
                top: 5px;
                .upload {
                    color: #555;
                    text-decoration: none;
                }
                .avatar_component {
                    float: left;
                    margin-right: 10px;
                }
            }
            .header_content {
                overflow: hidden;
                display: inline-flex;
                width: 850px;
                div {
                    &.header_search {
                        margin-top: 3px;
                        margin-left: 18px;
                        width: 100%;
                        max-width: 420px;
                        overflow: hidden;
                        padding: 0;
                        position: relative;
                        .input_container {
                            background-color: #fff;
                            font-family: "Lato";
                            font-size: 14px;
                            height: 30px;
                            line-height: 30px;
                            margin: 0 0 2px;
                            overflow: hidden;
                            position: relative;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            -moz-transition: border-color .05s ease;
                            -webkit-transition: border-color .05s ease;
                            transition: border-color .05s ease;
                            border: 1px solid #d3d3d3;
                            border-radius: 4px 0px 0px 4px;
                            border-right: 0;
                            &.focused {
                                border-color: #498dff;
                            }
                            input {
                                background: transparent;
                                border: 0;
                                display: inline-block;
                                font-size: 16px;
                                height: 100%;
                                left: 0;
                                margin: 0;
                                outline: none;
                                padding: 3px 7px;
                                width: 100%;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                            }
                            ::-webkit-input-placeholder {
                               font-weight: 400;
                               font-size: 15.5px;
                            }

                            :-moz-placeholder { 
                               font-weight: 300;
                               font-size: 14px; 
                            }

                            ::-moz-placeholder {  
                               font-weight: 300;
                               font-size: 14px;  
                            }

                            :-ms-input-placeholder {  
                               font-weight: 300;
                               font-size: 14px; 
                            }
                        }
                        .search_btn_component {
                            float: right;
                            padding: 0;
                            display: inline-block;
                            height: 30px;
                            line-height: 0px;
                            border: solid 1px transparent;
                            outline: 0;
                            font-weight: 500;
                            text-decoration: none;
                            white-space: nowrap;
                            word-wrap: normal;
                            vertical-align: middle;
                            cursor: pointer;
                            border-radius: 2px;
                            // box-shadow: 0 1px 0 rgba(0,0,0,0.05);
                            border-color: #d3d3d3;
                            background: #fff;
                            color: #333;
                            border-left: 0;
                            -moz-border-radius-topleft: 0;
                            border-top-left-radius: 0;
                            -moz-border-radius-bottomleft: 0;
                            border-bottom-left-radius: 0;
                            border-radius:0 4px 4px 0;
                            &:hover {
                                // background: #f2f2f2;
                                border-color: #ccc;
                            }
                            &.focused {
                                background: #5890ff;
                                border-color: #498dff;
                            }
                            .search_btn_content {
                                border: none;
                                display: block;
                                opacity: .95;
                                padding: 0;
                                width: 15px;
                                height: 15px;
                                box-shadow: none;
                                margin: 0 15px;
                                margin-bottom: 1px;
                                .search-icon, .sk-fading-circle {
                                    height: 16px;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 850px) {
                        &.predictive_search {
                            max-width: 305px!important;
                        }
                    }
                }
                
                .create_set_btn_group {
                    -webkit-font-smoothing: antialiased;
                    padding: 0;
                    margin-left: 10px;
                    position: relative;
                    background: #fff;
                    border: none;
                    outline: none;
                    opacity: 0.95;
                    transition: all 0.1s ease-in-out;
                    &.import {
                        border-left: 1px solid #E5E5E5;
                        padding-left: 8px;
                    }
                    &:hover {
                        opacity: 1;
                    }
                    .create_icon {
                        height: 19px;
                        position: absolute;
                        left: 12px;
                        margin-right: 10px;
                        top: 8px;  
                        &.import {
                            left: 20px;
                            height: 21.5px;
                        }         
                    }
                    .create-set-button {
                        font-size: 15px;
                        border: none;
                        color: #4E5665;
                        margin-left: 25px;
                        margin-bottom: 0px;
                        &:hover {
                            text-decoration: underline;
                            border: none;                
                        }
                    }
                }
                .button .svg-icon {
                    vertical-align: middle;
                    color: #85898D;
                }
            }

            .open_set_container {
                position: relative;
                display: inline-flex;
                .open_set_btn {
                    outline: none;
                    border: none;
                    background: none;
                    position: relative;
                    display: inline-flex;
                    text-decoration: none;
                }
                &.set_name_wrapper {
                    // position: absolute;
                    padding-top: 4px;
                    padding-left: 20px;
                    padding-right: 0px;
                    z-index: 700;
                    border: 0px none;  
                    cursor: pointer;
                    opacity: 0.95;
                    &:hover {
                        opacity: 1;
                    }
                   .dropdown_menu_icon {
                        height: 5px;
                   }
                   .set_name {
                       font-family: "Lato";
                       font-weight: 700;
                       letter-spacing: 0.01em;
                       font-size: 14px;
                       color: #555549;
                       padding-top: 2px;
                   }      
                   .set_hash {
                        margin-right: 5px;
                        font-weight: 400;
                        -webkit-font-smoothing: antialiased;
                        color:#9e9ea6;
                        &:hover {
                            color: #909090;
                        }
                   }  
                   .diff_control {
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                        border: 1px solid rgba(0,0,0,.1);
                        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
                        position: relative;
                        color: #67686e;
                        background: #fff;
                   }
                } 
            }
               
        }
    }
}

.log_in {
    .popover_blackout {
        background: #fff;
        left: 0;
        filter: alpha(opacity=0);
        position: absolute;
        width: 100%;
        z-index: 200;
        height: 500px;
        opacity: .05;
        top: 55px;
    }
}



    



