.modal {
	.modal-dialog {
		&.sign_up {
			width: 435px;
		}
	}
	.modal-header {
		&.sign_up {
			padding: 30px;
			border-bottom: 1px solid #e8e8e8!important;
			h3  {
				font-weight: 400;
				font-size: 1.25rem;
				line-height: 1.3rem;
				margin: 0 auto;
				text-align: center;
			}
		}
	}	
	.modal-body {
		&.sign_up {
			display: table;
			margin: 0 auto;
			padding: 0;
			.log_in_link {
				text-align: center;
				font-size: 13.5px;
				margin-bottom: 2.5em;
			}
			a {
				cursor: pointer;
			}
			.sign_up_container {
				.card {
					border: none!important;
					padding: 1em 2.5em 1em!important;
				}
			}
		}
		&.share_link {
			.remove_link {
				float: right;
				font-size: 11pt;
				line-height: 17px;
			}
			h2 {
				color: #7b8994;
				font-weight: 400;
				padding-bottom: 0;
				font-size: 11.5pt;
			}
			.copy_link_input_container {
				overflow: hidden;
				.text_input {
					width: 100%;
					line-height: normal;
					&.inline {
						display: inline-block;
						margin-right: 12px;
						vertical-align: bottom;
					}
					.text_input_wrapper {
						position: relative;
						input[readonly] {
							background-color: #e8e8e8;
							color: #7b8994;
							cursor: default;
							border: 1px solid #e5e5e5;
							font-size: 11.5pt;
							height: 35px;
							border-radius: 3px;
						}
					}
				}
			}
			.permissions_policy {
				margin-top: 8px;
				margin-left: 1px;
				margin-bottom: 20px;
				.sprite {
					margin-top: 4px;
					float: left;
					margin-right: 8px;
					height: 16px;
				}
				.permissions_text {
					float: left;
					max-width: 528px;
					font-size: 11.5pt!important;
					.change_permission_link {
						margin-left: 5px;
						display: inline-block;
						white-space: nowrap;
					}
				}
			}
		}
	}
}