@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lato:900,700,500,400,300);

// @font-face {
//   font-family: 'Calibri';
//   src: url('../../fonts/calibri_bold.ttf') format('truetype'); 
// }
// @font-face {
// 	font-family: 'Slack-Lato';
// 	src: url('../../fonts/Lato-Regular.ttf') format('truetype'); 
// }

/* Set List Actions */
.set_list_item_actions {
	position: relative;
	width: 155px;
	padding-left: 15px;
	padding-right: 16px;
	text-align: right;
	.inner { 
		position: absolute;
		top: 0;
		right: 10px;
		width: 600px;
		padding: 4px 12px;
		button {
			margin-left: 5px;
			display: inline-block;
			vertical-align: middle;
			// &:first-child {
			// 	box-shadow: -8px 0 32px 16px #fff;
			// }
		}
		.more_actions {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			width: 32px;
			height: 32px;
			> * {
				position: absolute;
				top: 0;
				left: 0;
			}
			.placeholder {
				top: 13px;
				left: 12px;
				display: inline-block;
				vertical-align: middle;
			}
			.more_actions_button {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
/* ------------------------- */

/* Tabs */
.tabs_container {
	ul {
		&.tabs_list {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				&.tab_item {
					cursor: pointer;
					position: relative;
					display: inline-block;
					vertical-align: top;
					z-index: 2;
					text-align: center;
					border: 1px solid #71B7F1;
					border-bottom-color: #bdc4c9;
					border-right: none;
					&.right_most {
						border-right: 1px solid #71B7F1;
					    border-top-right-radius: 5px;
					}
					&:first-child {
						margin-left: 0;
						border-top-left-radius: 5px
					}
					&.active {
						cursor: default;
						border: 1px solid #bdc4c9;
						border-bottom-color: #fff;
						a {
							text-decoration: none;
							color: #3d464d;
						}
						+.tab_item {
							border-left: none;
						}
					}
					a {
						font-size: 15px;
						padding: 8px 22px;
						display: table-cell;
						vertical-align: top;
						color: #006FC8;
					}
				}
			}
		}
	}
}
/* ---------------------*/

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0!important;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
  // -webkit-font-smoothing: antialiased;

}

ul {
	padding: 0;
	list-style-type: none;
}

label, input {
    font-size: 1pc;
    font-weight: 400;
    line-height: 24px;
}

input {
	border:1px solid #ccc;
	outline: none;
	border-radius: 2px;
	padding: 2px 6px;
	height: 32px;
	font-family: "Lato";
	&:focus {
		border: 1px solid #498DFF;
		box-shadow: 0 0 7px rgba(39, 128, 248, .15);
		outline: none;
	}
}

a {
	cursor: pointer;
}

.outer_shell {
	width: 1020px;
	margin: 0 auto;
	&.void {
		width: 100%;
	}
}


.card {
	border: none!important;
}

.google_button {
	background-image: linear-gradient(-180deg, #F87A6E 0%, #DC4E41 100%);
	border-radius: 3px;
}
.facebook_button {
	background-image: linear-gradient(-180deg, #6B88C9 0%, #35508A 100%);
	border-radius: 3px;
	padding-left: 40px;
	padding-right: 17px;
	img {
		height: 26px;
	    bottom: 1px;
	    left: 13px;
	    padding-right: 15px;
	}
}

:global .bold {
	font-weight: 700!important;
}
:global .normal {
    font-weight: 400!important;
}
:global .small_left_margin {
    margin-left: 0.80em!important;
}
:global .no_bottom_margin {
	margin-bottom: 0!important;
}
:global .small_bottom_margin {
    margin-bottom: .80rem!important;
}
:global .left_margin {
    margin-left: 1rem!important;
}
:global .small_right_margin {
    margin-right: .80rem!important;
}
:global .inline_block {
    display: inline-block!important;
}
.tiny_bottom_margin {
    margin-bottom: .1rem!important;
}
.mini {
    font-size: .8rem;
    line-height: 1.2rem;
    color: #666;
}
.subtle_silver {
	color: #9e9ea6!important;
}
.danger {
	color: #eb4d5c!important;
}
.float_right {
	float: right;
}

/* Radio Button */

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: -0.25rem;
    margin-left: -1.25rem;
}

/* ----------- */


// Loading spinner 
.sk-fading-circle {
      margin: 0 -2px;
      margin-left: 0px;
      width: 20px;
      height: 20px;
      position: relative;
    }
    .sk-fading-circle .sk-circle {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .sk-fading-circle .sk-circle:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #616161;
      border-radius: 100%;
      -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
              animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    }
    .sk-fading-circle .sk-circle2 {
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg);
    }
    .sk-fading-circle .sk-circle3 {
      -webkit-transform: rotate(60deg);
          -ms-transform: rotate(60deg);
              transform: rotate(60deg);
    }
    .sk-fading-circle .sk-circle4 {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    .sk-fading-circle .sk-circle5 {
      -webkit-transform: rotate(120deg);
          -ms-transform: rotate(120deg);
              transform: rotate(120deg);
    }
    .sk-fading-circle .sk-circle6 {
      -webkit-transform: rotate(150deg);
          -ms-transform: rotate(150deg);
              transform: rotate(150deg);
    }
    .sk-fading-circle .sk-circle7 {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    .sk-fading-circle .sk-circle8 {
      -webkit-transform: rotate(210deg);
          -ms-transform: rotate(210deg);
              transform: rotate(210deg);
    }
    .sk-fading-circle .sk-circle9 {
      -webkit-transform: rotate(240deg);
          -ms-transform: rotate(240deg);
              transform: rotate(240deg);
    }
    .sk-fading-circle .sk-circle10 {
      -webkit-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
              transform: rotate(270deg);
    }
    .sk-fading-circle .sk-circle11 {
      -webkit-transform: rotate(300deg);
          -ms-transform: rotate(300deg);
              transform: rotate(300deg); 
    }
    .sk-fading-circle .sk-circle12 {
      -webkit-transform: rotate(330deg);
          -ms-transform: rotate(330deg);
              transform: rotate(330deg); 
    }
    .sk-fading-circle .sk-circle2:before {
      -webkit-animation-delay: -1.1s;
              animation-delay: -1.1s; 
    }
    .sk-fading-circle .sk-circle3:before {
      -webkit-animation-delay: -1s;
              animation-delay: -1s; 
    }
    .sk-fading-circle .sk-circle4:before {
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s; 
    }
    .sk-fading-circle .sk-circle5:before {
      -webkit-animation-delay: -0.8s;
              animation-delay: -0.8s; 
    }
    .sk-fading-circle .sk-circle6:before {
      -webkit-animation-delay: -0.7s;
              animation-delay: -0.7s; 
    }
    .sk-fading-circle .sk-circle7:before {
      -webkit-animation-delay: -0.6s;
              animation-delay: -0.6s; 
    }
    .sk-fading-circle .sk-circle8:before {
      -webkit-animation-delay: -0.5s;
              animation-delay: -0.5s; 
    }
    .sk-fading-circle .sk-circle9:before {
      -webkit-animation-delay: -0.4s;
              animation-delay: -0.4s;
    }
    .sk-fading-circle .sk-circle10:before {
      -webkit-animation-delay: -0.3s;
              animation-delay: -0.3s;
    }
    .sk-fading-circle .sk-circle11:before {
      -webkit-animation-delay: -0.2s;
              animation-delay: -0.2s;
    }
    .sk-fading-circle .sk-circle12:before {
      -webkit-animation-delay: -0.1s;
              animation-delay: -0.1s;
    }

    @-webkit-keyframes sk-circleFadeDelay {
      0%, 39%, 100% { opacity: 0; }
      40% { opacity: 1; }
    }

    @keyframes sk-circleFadeDelay {
      0%, 39%, 100% { opacity: 0; }
      40% { opacity: 1; } 
    }

.big_spinner {
	position: relative;
	left: 41%;
	top: 155px;
	&.learn {
		left: 15px;
		top: -5px;
	}
	.sk-fading-circle {
		height: 50px!important;
		width: 50px!important;
	}
}

:global .container {
	clear: both;
	margin: 0px auto;
	max-width: 1415px;
}


:global .no_sidenav_container {
	padding: 0 0 46px;
	background: none repeat scroll 0% 0%;
	max-width: 1150px;
	padding-left: 50px;
	padding-right: 50px;
	clear: both!important;
	margin: 4rem auto!important;
}

:global .float-left {
	float: left!important;
}

:global .float-right {
	float: right!important
}

:global .spinner_container {
	z-index: 101;
	// position: fixed;
	display: table;
	margin: 120px auto;
	.message {
		display: table;
		margin: -10px auto;
		margin-left: -25px;

	}
}
.loading_label  {
	display: table-cell;
	position: relative;
	font-size: 17px;
	left: 0px;
	top: 0px;
}
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.loading {
	display: table-cell;
	position: relative;
	font-size: 21px;
	&:not(:first-child) {
		span {
	    /**
	     * Use the blink animation, which is defined above
	     */
	    animation-name: blink;
	    /**
	     * The animation should take 1.4 seconds
	     */
	    animation-duration: 1.4s;
	    /**
	     * It will repeat itself forever
	     */
	    animation-iteration-count: infinite;
	    /**
	     * This makes sure that the starting style (opacity: .2)
	     * of the animation is applied before the animation starts.
	     * Otherwise we would see a short flash or would have
	     * to set the default styling of the dots to the same
	     * as the animation. Same applies for the ending styles.
	     */
	    animation-fill-mode: both;
	    &:nth-child(2) {
	    	animation-delay: .2s;
	    }
	    &:nth-child(3) {
	    	animation-delay: .4s
	    }
    }
	}
}

/**
 * (C)Leanest CSS spinner ever
 */
$green: #6DC6A6;
$blue: #92D6E3;
$red: #E22963;
$yellow: #EEB83D;
$white: #eee;

// scaling... any units
$width: 70px;

.loader {
  position: relative;
  margin: 0px auto;
  width: $width;
  &:before {
    content:'';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}


.path {
  stroke-width: 2.5;
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: 
   dash 1.5s ease-in-out infinite,
   color 6s ease-in-out infinite
  ;
  stroke-linecap: round;
}

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}
@keyframes color{
  100%, 0%{
    stroke: $red;
  }
  40%{
    stroke: $blue;
  }
  66%{
    stroke: $green;
  }
  80%, 90%{
    stroke: $yellow;
  }
}



// Buttons
:global .button {
	display: inline-block;
	position: relative;
	height: 32px;
	padding: 0px 17px;
	color: rgba(0, 0, 0, 0.44);
	background: transparent none repeat scroll 0% 0%;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: none;
	vertical-align: bottom;
	white-space: nowrap;
	-moz-user-select: none;
	box-sizing: border-box;
	border-radius: 3px;
	font-family: "Lato";
	letter-spacing: 0.003em;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	line-height: 30px;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	&:hover {		
		-moz-transition:  0.1 ease-in-out;
		transition: 0.1 ease-in-out;
		// box-shadow: inset 0 -2px rgba(0,0,0,.25);
		border: none;	
	}
	&:active {
		box-shadow: inset 0px 1px 3px 0px rgba(81,79,79,0.50);
	}
	&:focus {
		outline: none;
	}
	&.disabled {
		cursor: auto;
		background: #DDDDE0;
		color: #fff;
		&:hover {
			box-shadow: none;
		}
	}
	&.sign_in_button {
		margin-right: 10px;
	}
	&.upload_button {
		background-image: linear-gradient(-180deg, #FFFFFF 0%, #F6F7F8 100%);
		border: 1px solid #D1D1D3;
		border-radius: 3px;
		color: #555459;
		margin-right: 10px;
		&:hover {
			background-image: linear-gradient(-180deg, #FFFFFF 0%, #F6F7F8 75%);
			border: 1px solid #ccc;
			border-radius: 3px;
		}
	}
	&.outline {
		background: #fff;
	   	border: 1px solid #bbb;
	   	color: #47525d!important;
	   	&:hover {
	   		background: -webkit-linear-gradient(#fffffe, #f2f2f2);
	   		background: linear-gradient(#fffffe, #f2f2f2);
	   	}
	}
	&.primary {
		color: #fff;
		// background-image: linear-gradient(-180deg, #5992F3 0%, #3E82F7 100%);
		background: linear-gradient(#168eef, #007ee5);
		border: 1px solid #2F73EB;
		border-radius: 3px;
		&:hover {
			background-image: linear-gradient(-180deg, #0394FF 0%, #007BE8 100%);
		}
	}
	&.green {
		background-image: linear-gradient(-180deg, #23C486 0%, #1DB379 100%);
		border: 1px solid #1AAC74;
		border-radius: 3px;
		color: #fff;
	}
	&.danger {
		background-image: linear-gradient(-180deg, #E7603E 0%, #CB5234 100%);
		border: 1px solid #B84428;
		border-radius: 3px;
		color: #fff!important;
	}
}
:global .button-primary {
	background-color: #52B78A;	
	color: #fff;
}
:global .button-danger {
	background: #cb5234!important;
	color: #fff;
}
:global .button-small {
	font-size: 14px !important;
	height: 32px;
	padding: 0px 10px;
	line-height: 32px;
	font-size: 14px!important;
}
:global .button-outline {
	border: 1px solid #C7CACD;
	text-shadow: none!important;
	&:hover {
		box-shadow: none;
		color: #32A2E6;
		border: 1px solid #ccc;
	}	
}

:global .button-link {
	border-radius: 0px;
	box-shadow: none;
	height: auto;
	line-height: inherit;
	border-width: 0px;
	padding: 0px;
	vertical-align: baseline;
	color: rgba(0, 0, 0, 0.3);
	white-space: normal;
}
:global .button-inline {
	margin: 0px 6px;
	vertical-align: middle;
}
:global .button-with-icon {
	transition: background-color 100ms ease 0s, border-color 100ms ease 0s, color 100ms ease 0s, fill 100ms ease 0s;
	line-height: normal;
}
.square_fill_btn {
	height: 38px;
	display: inline-block;		
	border-radius: 2px;
	padding: 2px;
	line-height: 1.2rem;
	white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 8px 14px 9px;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.01em;
	&:first-child {
		color: #fff;
		text-shadow:0 1px 0 rgba(0,0,0,.1);
	}
	&:hover {
		box-shadow: inset 0 -2px rgba(0,0,0,.25);
	}
}

.btn_primary {
	background-color: #2AB27B;
	outline: none;
	border: none;
}


:global .text-input {
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0px 15px;
	height: 35px;
	width: 55%;
	font-size: 14px;
	outline: medium none;
	background: #FFF none repeat scroll 0% 0%;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: "Lato";
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	color: black;
	line-height: normal;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	&:hover {
		border: 1px solid rgba(0, 0, 0, 0.23);
		-moz-transition:  0.1 ease-in-out;
		transition: 0.1 ease-in-out;
	}
	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.23);
	}	
}

.btn_square, .btn_circle {
	-webkit-font-smoothing: antialiased;
	line-height: 1.2rem;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 0.25rem;
	position: relative;
	text-align: center;
	margin: 0;
	margin-right: 3px;
	white-space: nowrap;
	padding: 8px 14px 9px;
	font-size: 15px;	
	&:hover {
		.icon {
			opacity: 1;
		}
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: .25rem;
	}
	&:active {
		box-shadow: inset 0px 1px 3px 0px rgba(81,79,79,0.50);
	}
}
.button_circle {
	border-radius: 999em;
	border: 1px solid rgba(0, 0, 0, 0.15)!important;
}

.btn_icon {
	width: 30px;
	height: 28px;
	padding: 0;
	padding-bottom: 4px;
	.icon {
		height: 17.5px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	.icon_awksize {
		height: 3.5px;
	}
}
.btn_outline {
	background: #fff;
	color: #555459!important;	
	&:after {
		border: 1px solid #C7CACD;
	}
}
button:focus, input[type="button"]:focus {
    outline: none;
}

:global .button-group {
	.button {
		vertical-align: middle;
	}
	.button-circle {
		padding: 0px;
		width: 37px;
		text-align: center;
		border-radius: 999em;
		border: 1px solid rgba(0, 0, 0, 0.15)!important;
		&:hover {
			border: 1px solid rgba(0, 0, 0, 0.25)!important;
		}
	}
	.button-borderless {
		border: none;
	}	
}

.button.button-borderless {
	border: none;
}

.button-borderless {
	&:hover {
		border: none
	}
}


:global .main-app {
	margin-top: 200px;
}

:global .link {
	cursor: pointer;
	&:hover {
		
	}
	&.continue_link {
		font-size: 16.5px;
		padding-left: 10px;
	}
}
// :global .link_name {
// 	text-decoration: none;
// 	&:hover {
// 		opacity: 1;
// 		color: #4D995C;
// 	}
// }

// Tooltips
.tooltip{
	font-family: "Lato";
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px 3px;
    font-size:13px;
    opacity:0;
    filter:alpha(opacity=0);
    &.side_tool {
    	width: 60%;
    }
    &.bottom_tool {
    	white-space: nowrap;
    	padding: 5px 5px;
    }
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 4.5px;
}
.tooltip-side {
    left: 0!important;
}
.tooltip.in{
    opacity:1;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-4px;
}
.tooltip .tooltip-arrow{
    bottom:-5px;
    left: 50%;
    margin-left: -10px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #000;
}
.tooltip .tooltip-arrow-right {
	position: absolute;	
	bottom:-5px;
	right: 25%!important;
	margin-left: -10px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #000;
}
.tooltip .tooltip-arrow-left {
	position: absolute;	
	bottom:-3px;
	left: 30%!important;
	margin-left: -10px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip-inner{
    max-width:200px;
    padding:5px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}

.overflow_ellipsis {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	z-index: 999999999;
}

// Main content // 
.main_content {
	padding-top: 75px;
	padding-left: 180px;
	padding-bottom: 2em;
	min-height: 425px;
}
.page_header {
	font-family: 'Lato';
	font-weight: 900;
	letter-spacing: 0.01em;
	font-size: 1.4em;
	color: #555459;
	opacity: 0.95;
	cursor: pointer;
	margin-bottom: 0;
	&:hover {
		opacity: 1;
		// text-decoration: underline;
	}
	&.loading_label {
		position: relative;
		margin-top: -10px;
		margin-left: -10px;
		color: #ccc;
	}
}

// Supplemental third col
.supplemental {
	padding-left: 30px;
	margin: 25px -18px -1rem 0.5rem;
}

@media screen and (max-width: 860px) {
	.remove_small {
		display: none;
	}
}

.clear_both {
	clear: both;
}

.copy_only {
	display: inline-block;
    vertical-align: baseline;
    width: 1;
    height: 0;
    background-size: 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    font-size: 0;
    float: left;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



// /*Placeholder color*/

::-webkit-input-placeholder {
  color: #B2B2B2;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #B2B2B2;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #B2B2B2;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #B2B2B2;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


// /*Placeholder hover darken*/

::-webkit-input-placeholder {
    color: #B2B2B2;
}
textarea:hover::-webkit-input-placeholder {
    opacity: 0.8;
    -webkit-transition: opacity 0.05 ease-in-out;
 	transition: opacity 0.05 ease-in-out;
}
:moz-placeholder {
	color: #B2B2B2;
}
::moz-placeholder {
	color: #B2B2B2;
}
:hover:-moz-placeholder {
  opacity: 0.8;
  -moz-transition: opacity 0.1 ease-in-out;
  transition: opacity 0.1 ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.8;
  -moz-transition: opacity 0.1 ease-in-out;
  transition: opacity 0.1 ease-in-out;
}
:ms-input-placeholder {
	color: #B2B2B2;
}
textarea:hover:ms-input-placeholder {
	opacity: 0.8;
    -ms-transition: opacity 0.1 ease-in-out;
 	transition: opacity 0.1 ease-in-out;
}


// Inline images and info
.inline_image {
	display: table-cell;
}
.inline_info {
	display: table-cell;
}


// Side supp header
.section_header {
	border-top: 1px solid #F3F3F3;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
	&.set_details {
		margin-top: 153px;
	}
	.header_icon {
		height: 18px;
		opacity: 0.6;
		&:hover {
			opacity: 0.9;
		}
	}
	.section_header_label {
		opacity: 0.6;
		padding-left: 10px;
	}
}


// Icons
.icon {
	height: 17.5px;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
	&.dropdown_menu_icon {
		margin-left: 8px;
		height: 7px;
		margin-top: 2px;
	}
}

// Modal 
.modal {
	z-index: 2000;
	letter-spacing: 0.01em;
	&.fade {
		top: -100%;
		-webkit-transition: opacity .15s linear,top .15s ease-out;
		-moz-transition: opacity .15s linear,top .15s ease-out;
		-o-transition: opacity .15s linear,top .15s ease-out;
		transition: opacity .15s linear,top .15s ease-out;
	}
	&.fade {
		&.in {
			top: 3.5%;
		}
	}
	&.in {
		opacity: 1;		
	}
	p {
		line-height: 1.5rem;
	}
	.purpose_label {
		min-width: 5rem!important;
	}
	textarea {
		width: 85%!important;
		margin: 0;
		font-size: 1rem;
		line-height: 1.25rem;
		width: 100%;
		height: 81pt;
		padding: .75rem .5rem .75rem .5rem;
		vertical-align: top;
		border: 1px solid #C5C5C5;
		border-radius: 2px;
		&:hover {
			border-color: #2780f8;
		}
		&:focus {
			border: 1px solid #498DFF;
			box-shadow: 0 0 7px rgba(39, 128, 248, .15);
			outline: none;
		}
	}
	.modal_input_note {
		font-size: .85rem;
		font-weight: 300;
		color: #9e9ea6;
		margin-left: 61pt;
		display: block;
		line-height: 1rem;
		margin-top: .25rem;
	}
	label {
		width: 5rem;
		min-width: 8rem;
		padding-right: 0.85rem;
		margin: 0;
		font-weight: 700!important;
		font-size: .9rem;
		display: inline-block;
		text-align: right;
		color: #555459;
		&.radio {
			display: inherit;
			width: 100%;
			text-align: left;
			padding-left: 1.5rem;
			cursor: pointer;
		}
		input {
			cursor: pointer;
		}
	}
	.modal-content {
		border: none;
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.1);
		font-family: "Lato";
		&.no_shadow {
			box-shadow: none!important;
			border: 1px solid #e8e8e8;
		}
		.modal-header {
			padding: .75rem 1.5rem .75rem 2rem;
			background: #fbfbfa;
			color: #555459;
			font-weight: 400;
			border-bottom: none;
			border-top-right-radius: .5rem;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			border-top-left-radius: .5rem;
			background-clip: padding-box;
			h3 {
				font-weight: 400;
			    font-size: 1.25rem;
			    line-height: 1.3rem;
			    margin: .3rem 0;
			}
			&.settings {
				border-bottom: 1px solid #DDD;
			}
		}
		.modal-title {
			box-sizing: content-box;
			font-size: 18px;
			font-weight: normal;
			line-height: normal;
			background: none;
			margin: 0;
			min-height: 24px;
			-webkit-flex-shrink: 0;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			margin: 0;
			line-height: normal;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		.modal-body {
			border-bottom: none;
			padding: 2rem 2rem 0;
			&.no_footer {
				padding: 1rem 2rem 1.5rem!important;
			}
		}
		.modal-footer {
			border-top: none;
			background: #fff;
			box-shadow: none;
			border-top: none;
			padding: 2rem 2rem 2rem;
			border-top-right-radius: 0;
			border-bottom-right-radius: .5rem;
			border-bottom-left-radius: .5rem;
			border-top-left-radius: 0;
			background-clip: padding-box;
			.button {
				&:not(:last-child) { 
					margin-right: 10px; 
				}
			}
		}
	}
		
	.close {
		color: #555459;
	    font-size: 2rem;
	    line-height: 1.8rem;
	    text-shadow: none;
	    opacity: .25;
	    margin-right: 6px;
	    -webkit-transition: opacity .1s ease-out 0s;
	    -moz-transition: opacity .1s ease-out 0s;
	    transition: opacity .1s ease-out 0s;
	    padding: 0;
	    border: 0;
	    cursor: pointer;
	    background: 0 0;
	    -webkit-appearance: none;
	    font-weight: 700;
	    float: right;
	    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	    &:hover {
	    	opacity: 0.9;
	    }
	}
	input[type=text] {
		font-size: 1.2rem;
		line-height: normal;
		padding: .75rem;
		border: 1px solid #C5C5C5;
		border-radius: .25rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: 0;
		color: #555459;
		width: 100%;
		max-width: 100%;
		font-family: "Lato";
		margin: 0 0 .5rem;
		-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
		-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
		transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		box-shadow: none;
		height: auto;
	}
}



.modal-backdrop {
	z-index: 1000;
	background-color: rgba(37,40,43,0.65);
}

// Menu styles
.menu {
	position: absolute!important;
	z-index: 150;
	display: block;
	vertical-align: top;
	overflow: hidden;
	min-width: 220px;
	max-width: 20pc;
	font-family: "Lato";
	color: #2c2d30;
	background: #fff;
	opacity: 1!important;
	box-shadow: 0 5px 10px rgba(0,0,0,.12);
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.15);
	ul {
		list-style-type:none;
		margin:.75rem 0;
		padding:0;
		li {
			font-size:15px;
			line-height:25px;
			background:0 0;
			margin:0 .75rem;
			padding:0;
			overflow:hidden;
			cursor: pointer;
			&.divider {
				border-bottom: 1px solid rgba(0,0,0,.15);
				margin: .75rem 0;
			}
			&.danger {
				a {
					color: #eb4d5c;
				}
				&:hover {
					a {
						background: #eb4d5c;
					}
				}
			}
			i {
				margin-right:.5rem;
				color:#babbbf;
				float:left;
				&:before {
					font-size:17px
				}
			} 
			a {
				display:block;
				background:#fff;
				color:#2c2d30;
				text-decoration:none;
				padding:0 1rem 0 .75rem;
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
				outline:0;
				border-radius: 4px;
				letter-spacing: 0.01em;
			}
			&.highlighted, &:hover {
				a {
					background:#3aa3e3;
					color:#fff;
					text-decoration:none;
					overflow:hidden;
					text-shadow:0 1px 0 rgba(0,0,0,.1);
					i {
						color: #fff;
					}
				}
				// a {
				// 	background: #f2f2f5;
				// 	color: #2c2d30;
				// 	text-shadow: none;
				// }
			}
			a { 
				&.delete_link {
					color: #870000;
				}
			}
			&.disabled {
				a {
					color:#babbbf;
					cursor:default;
				}
			}
		}		
	}
}


   

// .menu ul li.divider{border-bottom:1px solid rgba(0,0,0,.15);margin:.75rem 0}
// .menu ul li.divider:last-child{display:none}
// .menu ul li i:before{font-size:17px}
// .menu ul li:not(.dm_list_item) .member_image{margin-right:.5rem;vertical-align:top;margin-left:-11px;width:22px;height:22px;margin-top:1px}
// .menu ul li a.delete_link{color:#870000}
// .menu ul li.danger a{color:#eb4d5c}
// .menu ul li.disabled a{color:#babbbf;cursor:default}

// .menu ul li.highlighted a .prefix,.menu ul li.highlighted a i,.menu ul li.highlighted a.delete_link,.menu:not(.keyboard_active) ul li:hover a .prefix,.menu:not(.keyboard_active) ul li:hover a i,.menu:not(.keyboard_active) ul li:hover a.delete_link{color:#fff}

// .menu ul li.highlighted.danger a,.menu:not(.keyboard_active) ul li.danger:hover a{background:#eb4d5c}
// .menu .section_header{cursor:default;margin:.625rem .75rem;position:relative}
// .menu .section_header .header_label{background-color:#fff;color:#9e9ea6;padding-right:.8rem}
// .menu .section_header .header_label.menu_mini{font-size:.8125rem;line-height:1rem}
// .menu .section_header>.header_label{position:relative}
// .menu .section_header>div.header_label_container{color:#9e9ea6;padding-right:.375rem;position:relative}
// .menu .section_header hr{position:absolute;left:1rem;right:0;margin-top:.6rem;margin-bottom:0}
// .menu #menu_header .menu_simple_header{font-size:1rem;line-height:1.5rem;padding:.6rem 1rem;background:#fbfaf8;color:#555459;font-weight:700;border-bottom:1px solid rgba(0,0,0,.15);border-top-right-radius:.25rem;border-bottom-right-radius:0;border-bottom-left-radius:0;border-top-left-radius:.25rem;background-clip:padding-box}
// .menu #menu_header .menu_close{float:right;color:#555459;font-size:1.25rem;line-height:1.25rem;text-shadow:none;text-decoration:none!important;opacity:.25;-webkit-transition:.1s;-moz-transition:.1s;transition:.1s}
// .menu #menu_header .menu_close:hover{opacity:1}
// .menu #menu_header .menu_simple_header a{color:#555459;font-weight:700;text-decoration:underline}
// .menu #menu_header .menu_simple_header a:hover{color:#555459;text-decoration:underline}
// .menu #menu_items_scroller{max-height:454px;overflow-y:auto;overflow-x:hidden}
// .menu #monkey_scroll_wrapper_for_menu_items_scroller{background:#fff;border-radius:6px}
// .menu #menu_footer .menu_footer{background:#fbfaf8;padding:.5rem .75rem;border-top:1px solid rgba(0,0,0,.15)}
// .menu .menu_filter_container{background:#fff;position:relative;padding:7px;max-width:275px}
// .menu .menu_filter_container input.menu_filter{padding:.1rem 1.8rem 0;height:1.75rem;line-height:1rem;font-size:.9rem;border-radius:1rem;border:1px solid #DDD;outline:0}
// .menu .menu_filter_container input.menu_filter::-ms-clear{display:none}
// .menu .menu_filter_container input.menu_filter:focus{border-color:#babbbf}
// .menu .menu_filter_container .icon_search{position:absolute;font-size:.9rem;top:8x;left:15px;color:#CCC}
// .menu .menu_filter_container .icon_close{position:absolute;right:9pt;top:8px;text-decoration:none;color:#CCC!important;font-size:14px}
// .menu .menu_filter_container .filter_no_matches{margin:0;text-align:center;padding:.6rem .75rem 1.1rem;overflow:hidden}
// .menu.team_menu{min-width:15pc}














