#avatar {
	position: relative;
	float: right;
	margin-top: 4px;
	margin-right: 0px;
	line-height: 25px;
	span {
		&#avatar_wrapper {
			.avatar_img {
				width: 32px;
				min-width: 32px;
				height: 32px;
				font-size: 13px;
				line-height: 28px;
				font-weight: 600;
				display: inline-block;
				vertical-align: middle;
				overflow: hidden;
				position: relative;
				box-sizing: border-box;
				text-align: center;
				width: 24px;
				min-width: 24px;
				height: 24px;
				font-size: 10px;
				line-height: 20px;
				font-weight: 700;
			}
		}
		&.name {
			margin-left: 10px;
			font-size: 15px;
		}
	}
}