.sign_in_page_container {
	.sign_in_page {
		margin: 0 auto;
		min-width: 905px!important;
		max-width: 1200px;
		padding-left: 50px;
		padding-right: 50px;
		font-family: "Lato";
		padding-top: 8.5em;
		.sign_in_content {
			min-width: 315px;
			.card {
				padding: 1.5em;
				padding-top: 10px;
				width: 350px;
			}
			.header {
				h4 {
					font-family: "Open Sans";
					font-size: 28px;
					font-weight: 300;
					margin-bottom: 20px;
					text-align: left;
				}
			}
			.sign_in {
				margin-bottom: 20px;
				input, button {
					width: 100%
				}
				input {
					margin-bottom: 10px;
				}
				button {
					display: block;
				}
			}
			.day_divider {
				margin: 1.2rem 0;
				padding: 0;
				min-width: 308px;
				text-align: center;
			    cursor: default;
			    clear: both;
			    position: relative;
				hr {
					position: absolute;
				    border-top: 1px solid #e8e8e8;
				    top: .75rem;
				    right: 0;
				    left: 0;
				    margin: 0;
				}
				.day_divider_label {
					background: #fff;
				    padding: .05rem .75rem;
				    display: inline-block;
				    margin: 0 auto;
				    position: relative;
				    border-radius: .25rem;
				    color: #ccc;
				}
			}
			.sign_up_group {
				margin-top: 20px;
				button {
					color: #fff;
					width: 100%;
					text-shadow: none;
					font-weight: 400;
					font-size: 14px!important;
					letter-spacing: 0.02em;
					position: relative;
					padding-left: 23px;
					margin-bottom: 10px;
					&.google_button {
						background-image: linear-gradient(-180deg, #F87A6E 0%, #DC4E41 100%);
						border-radius: 3px;
					}
					&.facebook_button {
						background-image: linear-gradient(-180deg, #6B88C9 0%, #35508A 100%);
						border-radius: 3px;
						padding-left: 40px;
						padding-right: 17px;
						img {
							height: 26px;
						    bottom: 1px;
						    left: 13px;
						    padding-right: 15px;
						}
					}
					&:last-child {
						margin-bottom: 0px;
					}
					img {
						opacity: 1;
						position: absolute;
						left: 8px;
						top: 5px;
						border-right: 1px solid rgba(0, 0, 0, 0.10);
						padding-right: 8px;
					}
				}
			}
			.logo {
				margin-bottom: 45px;
				cursor: pointer;
				img {
					height: 45px;
				}
			}
			.instruction {
				margin-bottom: 45px;
				font-size: 26px;
				font-family: "Open Sans";
				font-weight: 300;
			}
		}
		.sign_in_content, 
		.sign_up_group, 
		.logo, .backup, .user_info,
		.sign_in, .instruction{
			display: table;
			margin: 0 auto;
		}
		.backup {
			font-size: 14px;
		}
	}
	.close {
		position: absolute;
		right: 75px;
		top: 30px;
		height: 48px;
		width: 48px;
		border-radius: 999em;
		display: table;
		margin: 0 auto;
		font-size: 14px;
		padding-top: 12px;
		padding-left: 12px;
		&:hover {
			background: #ccc;
		}
	}	
}