.landing_page {
	position: relative;
	top: 72.5px;
	bottom: 0;
	width: 100%;
	* {
		-webkit-font-smoothing: antialiased;
	}
	.landing_page_container {
		width: 100%;
		font-family: "Lato";
		padding-top: 2em;
		display: block;
		position: relative;
		padding-bottom: 9.5em;
		margin: 0 auto;
		box-sizing: border-box;
		max-width: 1050px;
		padding-left: 0.1rem;
		padding-right: 0.1rem;
		&.landing_beta {
			padding-bottom: 8em;
			@media screen and (max-width: 767px) {
				padding-bottom: 4em;
				margin-top: -50px;
			}
			.page_promo_wrapper {
				max-width: 1050px;
				text-align: center;
				.page_header_logo_wrapper {
					max-width: 240px;
					margin: 0 auto 30px auto;
					img {
						width: 100%;
					}
				}
				.main_img_wrapper {
					margin: 0 auto;
					max-width: 800px;
					img {
						width: 100%;
						@media screen and (max-width: 720px) {
							width: 102.5%;
						}
					}
				}
				.page_content_panel {
					font-family: "Lato";
					.page_intro_txt {
						text-align: left;
						display: inline-block;
					    width: 480px;
						margin-right: 70px;
						vertical-align: top;
						color: #47525d;
						@media screen and (max-width: 850px) {
							margin-right: 15px;
						}
						@media screen and (max-width: 720px) {
							text-align: center;
							display: block;
							margin: 0 auto;
							width: 85%;
						}
						h1 {
							font-weight: 300;
							margin-bottom: 15px;
							padding-bottom: 0;
							line-height: 1.4;
						    font-size: 38px;
						    font-weight: 300;
							@media screen and (max-width: 720px) {
								padding-top: 0.5em;
								font-size: 31px;
							}
						}
						h2 {
							line-height: 36px;
							font-size: 24px;
							font-weight: 100;
							@media screen and (max-width: 720px) {
								padding-top: 1em;
								font-size: 19.5px;
							    line-height: 150%;
							}
						}
					}
					.page_register_form {
						display: inline-block;
						width: 350px;
						margin: 15px 0 0 70px;
						@media screen and (max-width: 850px) {
							margin-left: 15px;
						}
						@media screen and (max-width: 720px) {
							display: block;
							margin: 0 auto;
							width: 90%;
						}
					}
				}
			}
		}
		.marketing_copy {
			position: absolute;
			max-width: 550px;
			top: 12.5em;
			left: 1rem;
			h1 {
				font-family: "Lato";
				font-size: 30px;
				font-weight: 300;
			}
			img {
				margin-top: 65px;
				height: 180px;
			}
			p {
				&.product_description {
					-webkit-font-smoothing: antialiased;
					font-size: 1.18rem;
					color: #777777;
					margin-top: 15px;
					font-family: "Lato";
					font-weight: 400;
					.underline {
						border-bottom: 1px solid #e8e8e8;
					}
				}
			}
			ul {
				li {
					padding: 10px 0 10px 0;
					display: table;
					vertical-align: middle;
					img {
						margin-top: 0!important;
						display: table-cell;
						float: left;
						height: 26px;
					}
					p {
						// color: #777777;
						margin-left: 60px;
						font-size: 17px;
						padding-bottom: 2px;
						border-bottom: 1px solid #e8e8e8;
					}
				}
			}
		}
	}
	.sample_transform {
		width: 100%;
		padding: 2.5em;
		margin: 0 auto;
		position: relative;
		border-top: 1px solid #E5E5E5;
		text-align: center;
		background: #0084ff;
		&.beta {
			padding: 1.25em;
		}
		.leading_question {
			display: block;
			font-size: 19px;
			font-family: "Lato";
		}
		img {
			height: 15.5px;
		}
		p {
			color: #fff;
		}
		p, input, button {
			display: inline;
			margin-right: 10px;
		}
		input {
			min-width: 315px;
		}
	}
	.twelve_col {
		margin: 0 auto;
		width: 990px;
	}
	.features_container {
		width: 100%;
		max-width: 975px;
	    box-sizing: border-box;
		@media screen and (max-width: 767px) {
		    padding: 60px 30px 30px 30px;
		}
		.content_row {
			margin: 120px auto;
			padding: 0;
			// overflow: hidden;
			&:first-child {
				@media screen and (max-width: 990px) {
					margin-top: 0;
				}
			}
			&:first-child {
				.media_text {
					.media_text_wrapper {
						.text {
							.body {
								margin-top: 0!important;
							}
						}
					}
				}
			}
			@media screen and (max-width: 990px) {
				margin: 70px auto 0;
			}
			@media screen and (max-width: 767px) {
				margin-top: 70px;
			}
			@media screen and (max-width: 990px) {
				.media_text>div {
					display: -webkit-box;
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}
			}
			.expanding_section {
				position: relative;
				box-sizing: border-box;
				min-width: 200px;
				max-width: 100%;
				height: auto;
				margin: 32px auto 0;
				overflow: hidden;
			}
			.media_text {
				display: table;
				margin: 0 auto;
				&.alt_order {
					.header, .body {
						// float: right;
					}
				}
				&.alt_order>div {
					@media screen and (max-width: 990px) {
						-webkit-box-orient: vertical;
						-webkit-box-direction: reverse;
						-webkit-flex-direction: column-reverse;
						-ms-flex-direction: column-reverse;
						flex-direction: column-reverse;
					}
				}
				.media_text_wrapper {
					width: 50%;
					text-align: left;
					display: table-cell;
					vertical-align: middle;
					padding-left: 15px;
					&:first-child {
						padding-right: 15px;
						padding-left: 0;
					}
					@media screen and (max-width: 990px) {
						display: -moz-box;
						display: block;
						width: 100%;
						padding: 0!important;
						margin: 0;
						vertical-align: bottom;
					}
					.media, .text {
						width: 100%;
						padding-left: 0;
						padding-right: 0;
					}
					.media {
						text-align: center;
						.header_responsive {
							display: none;
							text-align: center;
							font-weight: 300;
							@media screen and (max-width: 990px) {
								display: inline-block;
								margin-bottom: 20px;
							}
							@media screen and (max-width: 767px) {
								margin-bottom: 0;
								padding-bottom: 0;
							}
						}
						.image_responsive {
							display: none;
							@media screen and (max-width: 990px) {
								display: block;
								width: auto!important;
								max-width: 450px;
							}
							@media screen and (max-width: 767px) {
								width: 100%;
								max-width: 400px;
								&.big {
									height: 265px;
								}
							}
						}
						img {
						    margin: 30px auto 0;
							position: relative;
							vertical-align: middle;
							height: 250px;
							@media screen and (max-width: 990px) {
								height: 180px;
							}
						}
						.image_wrapper {
							margin: 0 auto;
							display: block;
							overflow: hidden;
							top: 50px;
							@media screen and (max-width: 990px) {
								display: none;
							}
							.image {
								z-index: 0;
								border: none;
								outline: none;
							    margin: 10px 0 0 30px !important;
							    &.big {
							    	height: 315px;
							    	margin-left: -100px!important;
							    }
							}
						}
					}
					.text {
						text-align: left;
						padding-left: 0;
						.header, .body {
							width: 310px;
						    margin: 0;
						    width: 100%;
						    line-height: 1.4;
						    font-family: "Lato","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
						    font-size: 32px;
						    font-weight: 300;
						    color: #d0d4d9;
						    color: #47525d;
					        font-size: 32px;
						}
						.header {
							font-weight: 300;
							font-size: 31px;
							line-height: 44px;
							margin: 12px auto 12px;
							text-align: left;
							@media screen and (max-width: 990px) {
								display: none;
							}
							@media screen and (max-width: 767px) {
								margin-top: 5px;
								font-size: 25px;
							    line-height: 35px;
							}
						}
						.body {
							font-size: 21px;
							padding-right: 55px;
							line-height: 36px;
							font-weight: 100;
							@media screen and (max-width: 990px) {
								text-align: center;
								float: none !important;
								max-width: 650px;
								margin: 40px auto 0;
								padding: 0;
								font-size: 19.5px;
								line-height: 150%;
							}
							@media screen and (max-width: 767px) {
								margin-top: 30px;
							}
						}						
					}
				}
			}
		}
	}
	.happy_users {
		padding: 6rem 0 6.5rem;
		background-color: #fff;
		text-align: center;
		border-bottom: 1px solid #E5E5E5;
		h3 {
			font-size: 30px;
			line-height: 2.5rem;
			font-family: "Lato";
			font-weight: 300;
		}
		img {
			height: 170px;
			margin: 3rem auto 1em;
			background-repeat: no-repeat;
		}
	}
	.last_call {
		display: table;
		margin: 0 auto;
		padding-top: 1.5em;
		padding-bottom: 3.5em;
		width: 380px;
		font-weight: 300;
		font-family: "Lato";
		.start_now {
			font-weight: 300;
			font-family: "Lato";
		}
		@media screen and (max-width: 767px) {
			width: 98.5%;
		}
	}
	.footer {
		position: absolute;
		width: 100%;
		background: #323940;
		border-top: 1px solid #e4e4e4;
		padding-left: 170px;
		padding-right: 170px;
		padding-bottom: 20px;
		p {
			margin-bottom: 0;
		}
		ul {
			position: relative;
			margin: 0;
			.left, .right {
				font-size: 14px;
				position: relative;
				a {
					color: #fff;
					margin: 10px;
					margin-top: 20px;
					display: inline-block;
					cursor: pointer;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.left {
				float: left;
			}
			.right {
				float: right;
			}
		}
	}
}

