.columns {
	margin-right: -10px;
	margin-left: -10px;
}
.column {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.span_1_of_4 {
	width: 25%;
}
.span_3_of_4 {
	width: 75%;
}

.profile_view {
	padding-top: 90px;
	padding-left: 240px;
	width: 98%;
	h1 {
		&.member_card_names {
			font-size: 1.8em;
			margin-top: 10px;
			margin-bottom: 15px;
			line-height: 1.25em;
			font-weight: 600;
			color: #2c2d30;
			.member_card_username {
				display: block;
				overflow: hidden;
				width: 100%;
				font-size: 26px;
				line-height: 30px;
				text-overflow: ellipsis;
			}
			.member_card_fullname {
				display: block;
				overflow: hidden;
				width: 100%;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				color: #555459;
				text-overflow: ellipsis;
			}
		}
	}
	ul {
		&.member_card_details {
			list-style: none;
			padding-top: 19px;
		    padding-bottom: 9px;
			border-top: 1px solid #eee;
			li {
				&.member_card_detail {
					width: 100%;
					padding: 2px 0 2px 24px;
					overflow-x: hidden;
					white-space: nowrap;
					font-size: 15px;
					text-overflow: ellipsis;
					.octicon {
						float: left;
						width: 16px;
						text-align: center;
						margin-left: -24px;
						color: #999;
						&:before {
							font-family: FontAwesome;
						}
						&.organization {
							&:before {
								content: '\f037'
							}
						}
						&.location {
							&:before {
								content: '\f060'
							}
						}
						&.joined {
							&:before {
								content: '\f046'
							}
						}
					}
				}
			}
		}
	}
	.member_card_stats {
		margin-bottom: 10px;
		padding-top: 20px;
		padding-bottom: 15px;
		text-align: center;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		&:before {
			display: table;
			content: '';
		}
		&:after {
			display: table;
			clear: both;
			content: '';
		}
		.member_card_stat {
			float: left;
			width: 33.333%;
			font-size: 13px;
			text-transform: capitalize;
			text-decoration: none;
			cursor: default;
			&:first-child {
				width: 30%;
			}
			strong {
				display: block;
				font-size: 25px;
				font-weight: 600;
				line-height: 1.2rem;
			}
			.text_muted {
				color: #767676;
			}
		}
	}
	nav {
		display: block;
		&.profile_tabs {
			position: relative;
			.tab_set {
				a {
					padding: 0.5pt 2.5pc 1px;
					margin-bottom: -14px;
				}
			}		
		}
	}
	.profile_setlist_container {
		padding-top: 15px;
		width: 100%;
		position: relative;
		.set_filter_container {
			width: 35%;
			position: relative;
			display: inline-flex;
			margin-top: 5px;
			// margin-bottom: 10px;
			.search_icon {
				position: absolute;
				top: 10px;
				left: 11px;
				height: 15px;
				opacity: 0.6;
			}
			input {
				width: 100%;
				height: 36px;
				padding-left: 2.25rem;
				padding-right: 3rem;
			}
		}
		.new_set {
			margin-top: 5px;
			float: right;
		}
		.no_sets {
			margin: 70px auto;
			max-width: 900px;
			min-width: 700px;
			padding-right: 3em;
			img {
				margin: 0 auto;
				display: table;
				height: 175px;
			}
			h1 {
				margin-top: 25px;
				text-align: center;
				&.set_count {
					font-size: 1.15rem;
					font-weight: 400;
					padding-bottom: 15px;
					color: #666;
				}
			}
		}
	}
	.profile_info {
		width: 90%;
		margin-left: 10px;
		.section_header {
			margin-top: 110px;
		}
		.profile_details {
			padding-left: 10px;
			.info_header {
				font-size: 12px;
				font-weight: 700;
				color: #9E9EA6;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.info_child {
				font-size: 14px;
			}
			.created_details {
				padding-top: 10px;
				font-size: 14px;
				color: #9E9EA6;
				font-style: italic;
			}
		}
		.info_icon {
			height: 25px!important;
			margin-left: 2px;
		}
	}	
}






