.search_sets_container {
	display: block;
	position: relative;
	width: 100%;
	padding-top: 1.15em;
	padding-left: 0.25rem;
	h2 {
		letter-spacing: 0.01em;
		display: inline-block;
		font-size: 15.5px;
	    color: #888;
		padding: 0;
		font-weight: 600;
		margin-bottom: 0;
	}
	.sets_list {
		width: 100%;
		position: relative;
		.set_list_item {
			position: relative;
			padding-top: 30px;
			padding-bottom: 30px;
			list-style: none;
			border-bottom: 1px solid #eee;
			.set_list_stats {
				margin-top: 6px;
				float: right;
				font-size: 15px;
				font-weight: 600;
				margin-right: 45px;
				color: #888;
				.set_list_stat_item {
					margin-left: 8px;
					display: inline-block;
					color: #888!important;
					text-decoration: none;
					.octicon {
						font-size: 16px;
						color: #888;
						font-family: FontAwesome;
						margin-right: 5px;
						&.star {
							&:before {
								content: '\f005'
							}
						}
					}
				}
			}
			.set_list_icon {
				float: left;
				margin-left: 2px;
				img {
					height: 38px;
					opacity: 0.6;
				}
			}
			.set_list_details {
				// float: left;
				display: block;
				margin-left: 60px;
			}
			.set_list_name {
				margin: 0 0 0px;
				font-size: 19.75px;
				line-height: 1.2;
				font-weight: 600;
				a {
					word-wrap: break-word;
				}
				.item_count {
					margin-left: 8px;
					display: inline;
					font-size: 14.75px;
					color: #888;
				}
			}
			.set_list_creator {
				margin-top: 0px;
				margin-bottom: 0;
				font-size: 14.5px;
				a {
					color: #00ab6b!important;
				}
			}
			.set_list_description {
				max-width: 550px;
				margin-top: 8px;
				margin-bottom: 0;
				font-size: 14.5px;
				color: #666;
			}
			.set_list_meta {
				display: block;
				margin-top: 8px;
				margin-bottom: 0;
				font-size: 13px;
				color: #888;
			}
			.activity_graph {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				.bars {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}




/*


.search_set_item {
			width: 100%!important;
			border-top: 1px solid transparent;
			border-bottom: 1px solid #e5e5e5;
			padding: 8.5px 0;
			cursor: pointer;
			display: table;
			.set_icon_container {
				display: table-cell;
				position: relative;
				opacity: 0.5;
				padding-right: 25px;
				cursor: pointer;
				img {
					&.set_icon {
						padding-top: 15px;
						height: 50px;
					}
				}
				&:hover {
					opacity: 0.89;
				}
			}
			.set_content {
				display: table-cell;
				position: relative;
				margin-left: 10px;
				width: 100%;
				padding-bottom: 10px;
				width: 540px!important;
				.set_title {
					color: #006FC8;
					font-size: 18px;
					padding-bottom: 0;
					margin-bottom: 0;
					cursor: pointer;
					&:hover { 
						text-decoration: underline;
					}
				}
				.set_creator {
					color: #aaa;
					font-size: 14.5px;
					margin-bottom: 0;
					cursor: pointer;
				}
				.set_purpose {
					color: #545454;
					font-size: 14px;
				}
				.set_stats {
					color: #888;
					font-size: 13.5px;
				}
			}
		}

		*/