.saving_label {
	z-index: 999!important;
	padding-left: 1pc;
    margin-top: 4pt;
    margin-left: 14pt;
	margin-right: 75pt;
	border-left: 1px solid #e5e5e5;
	font-size: .9rem;
	letter-spacing: 0.02em;
	line-height: 22px;
	font-weight: 400;
	color: #9e9ea6;
	-webkit-transition: opacity .12s;
	-moz-transition: opacity .12s;
	transition: opacity .12s;
}