.quick_practice {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 200px!important;
	min-height: 200px!important;
	position: relative;
	.quick_cue {
		padding-top: 10px;
		position: absolute;
		top: 0;
		letter-spacing: 0.01em;
	}
	.quick_input {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.void_input {
		background: #fff;
		border: 1px solid #F3F3F3;
		width: 100%;
		vertical-align: middle;
		border-radius: 0.25em;
		padding: 0.65em;
		margin-bottom: 10px;
		.lock_icon {
			height: 18px;
			opacity: 0.6;
			margin-top: -0.2em;
			margin-right: 0.5em;
		}
		p {
			padding: 0.65em 0.5em;
			margin: 0;
		}
	}
}