#browse_box {
	height: 100%;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	position: relative;
}

#browse_box_wrapper {
	height: 100%;
	position: absolute;
	width: 100%;
	position: absolute;
	top: 0;
}

#browse_flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	width: 100%;
	-webkit-flex-direction: column;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
}

#browse_container {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
	top: 49px;
}

.recent_view {
	color: #222;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.recent_header {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	display: table-header-group;
	left: 0;
	padding-right: 16px;
	position: absolute;
	right: 0;
	z-index: 1;
	top: -49px;
}

.recent_header_wrapper {
	color: #222;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.header_col {
	color: #565656;
	display: table-cell;
	font-size: 16px;
	font-weight: normal;
	padding: 0;
	text-align: left;
	vertical-align: middle;
}

.header_col_content {
	height: 48px;
	line-height: 48px;
}


