#browse_box {
	position: relative;
}

#browse_header {
	width: 100%;
	position: fixed;
	top: 95px;
	z-index: 4;
	background: #fff;
	padding-right: 230px;
	// min-height: 98px;
}
#browse_sort {
	line-height: 29px;
    padding: 3px 2px;
    padding-right: 5px;
    height: 30px;
    background: #fff;
    border-bottom: 2px solid #e5e5e5;
    display: block;
    #name_sorter {
    	width: 44%;
    }
    #creator_sorter {
    	width: 23%;
    	display: block;
    }
    #shared_sorted {
    	width: 28%;
    	display: block;
    }
    .sortable_col_header {
    	color: #aaa;
	    float: left;
	    margin-bottom: 0px;
	    text-align: left;
	    font-size: 16px;
	    text-decoration: none;
	    &.bolded {
	    	font-weight: 600;
	    }
    }
}
#browse_header_wrapper {
	overflow: hidden;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
}

.recent_view {
	position: relative;
	letter-spacing: 0.01em;
	ul {
		&.recent_view_sections {
			margin: 0;
			padding: 0;
			list-style-type: none;
			zoom: 1;
			li {
				&.recent_section {
					margin-bottom: 48px;
					h1 {
						&.recent_section_title {
							font-size: 13.5px;
							color: #adb7bf;
							margin: 0;
							padding-bottom: 9px;
							border-bottom: 1px solid #e5e5e5;
						}
					}
					ol {
						&.set_list {
							margin: 0;
							padding: 0;
							list-style-type: none;
							li {
								&.set_item {
									text-align: left;
									padding: 7px 2px 6px;
									margin: 0 0px -1px 0px;
									line-height: 32px;
									list-style: none;
									position: relative;
									border: 1px solid #e5e5e5;
									border-width: 1px 0;
									font-size: 16px;
									zoom: 1;
									&:hover {
										border-color: #E1F1FE;
										background: #F4FAFF;
									}
									.set_name_col {
										float: left;
									    // height: 32px;
									    width: 44%;
									    text-overflow: ellipsis;
									    white-space: nowrap;
									    overflow: hidden;
									    .set_link {
									    	color: #3d464d;
									    	font-size: 13px;
									    	white-space: pre;
									    }
									    img {
									    	float: left;
									    	margin-top: -2px;
									    	margin-right: 11px;
									    	margin-left: -1px;
									    	display: block;
									    	overflow: hidden;
									    	background-color: transparent;
									    	vertical-align: bottom;
									    	border: 1px solid transparent;
									    	cursor: pointer;
								    	    border: none;
								    	    height: 31px;
								    	    width: 26px;
								    	    margin-top: 0;
								    	    margin-right: 13px;
								    	    margin-left: 1px;
								    	    opacity: 0.45;
								    	    background: transparent;
								    	    z-index: 4;
									    }
									}
									.creator {
										float: left;
									    text-overflow: ellipsis;
									    white-space: nowrap;
									    overflow: hidden;
									    width: 23%;
									}
									.sharing {
										display: block;
										float: left;
										width: 28%;
										// height: 20px;
										font-size: 13px;
										.sharers {
											display: inline;
											    overflow: hidden;
										}
										.sharing_actions {
												display: block;
											    position: absolute;
											    top: 8px;
											    right: 8px;
											    button {
											    	display: inline-block;
											    }
											}
										}
									}	
									
								}
							}
						}
					}

				}
			}
		}
	}
