.search_page {
	padding-top: 90px;
	padding-left: 230px;
	padding-bottom: 2em;
	// min-height: 425px;
	letter-spacing: 0.01em;
	&.no_sidenav_container {
		padding-left: 15px!important;
	}
	nav {
		display: block;
		&.search_tabs {
			position: relative;
			&:after, &:before {
				display: table;
			}
			&:after {
				clear: both;
			}
		}
	}
	.search_content {
		margin-top: -1px;
		border-top: 1px solid #e8e8e8;
		&.searching {
			opacity: 0.4;
		}
	}
}