#import_page_container {
	width: 100%;
	max-width: 1100px;
	padding-right: 50px;
	padding-left: 50px;
	display: table;
	margin: 0 auto;
	.heading {
		padding-left: 0!important;
	}
	#escape_link {
		top: 25px;
		position: absolute;
		right: 205px;
		display: block;
		opacity: 0.5;
		color: #9E9EA6;
		text-decoration: none;
		width: 4rem;
		height: 4rem;
		z-index: 1;
		color: #9e9ea6;
		line-height: 1.5rem;
		border-radius: 100%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&:hover {
			opacity: 1;
			color: #555459;
		    background: #EEEEEE;
		}
		img {
			position: absolute;
		    top: 0.95rem;
		    left: 1.25rem;
		    display: block;
		}
		span {
			position: absolute;
			top: 2.05rem;
			left: 1.25rem;
			width: 100%;
			display: block;
			color: #555459;
		}
	}
	#import_text {
		width: 100%;
		label {
			font-weight: 600;
			margin: 0 0 .25rem;
			display: block;
			font-size: 1rem;
			color: #555459;
		}
		h2 {
			font-weight: 600;
			font-size: 34px;
			color: #2c2d30;
			text-decoration: none;
			margin-bottom: 0.75em;
		}
		textarea {
			width: 100%;
			border-radius: 2px;
			padding: 7px 8px 8px 10px;
			margin: 0.2rem 0 0 0;
			min-height: 275px;
			border:1px solid #ccc;
			outline: none;
			border-radius: 2px;
			font-size: 16.5px;
			&:focus {
				border: 1px solid #498DFF;
				box-shadow: 0 0 7px rgba(39, 128, 248, .15);
				outline: none;
			}
			&.error {
				// border-color: #e82110 !important;
				// color: #e82110 !important;
			}
		}
		button {
			margin-top: 1rem;
			display: inline-block;
			-webkit-transition: .3s cubic-bezier(.175,.885,.32,1.275) padding!important;
			-moz-transition: .3s cubic-bezier(.175,.885,.32,1.275) padding!important;
			-ms-transition: .3s cubic-bezier(.175,.885,.32,1.275) padding!important;
			-o-transition: .3s cubic-bezier(.175,.885,.32,1.275) padding!important;
			transition: .3s cubic-bezier(.175,.885,.32,1.275) padding!important;
			&.importing {
				background: #DDDDE0;
				border: #DDDDE0;
				position: relative;
				padding-right: 50px;
				.spinner {
					position: absolute;
					right: 2px;
					z-index: 2;
					display: inline-block;
					width: 2pc;
					height: 2pc;
					pointer-events: none;
				}
				.sk-fading-circle {
					.sk-circle {
						&:before {
							background-color: #fff;
						}
					}
				}
			}
			&.disabled {
				// opacity: 0.5;
			}
		}
		div {
			&.note {
				font-size: .95rem;
				color: #9e9ea6;
				display: block;
				line-height: 1rem;
				margin-top: .25rem;
				margin-bottom: .55rem;
			}
		}
	}
	#import_instructions {
		text-align: center;
		h3 {
			font-family: "Open Sans";
			font-size: 21px;
			color: #47525D;
			margin: 1.5rem;
			margin-top: 0.25rem;
		}
		ol {
			&#instructions_list {
				width: 100%;
				padding: 0;
				margin: 0;
				margin-top: 2.5rem;
				.instruction_item {
					list-style: none;
					display: inline-block;
					width: 33.33333%;
					min-height: 130px;
					padding: 0.25rem 2.5rem;
					padding-left: 2.75rem;
					position: relative;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
						.content {
							.instruction_item_content {
								padding-right: 0;
							}
						}
					}
					&:not(:first-child):not(:last-child) {
						border-left: 1px solid #E5E5E5;
						border-right: 1px solid #E5E5E5;
					}
					h4, .instruction_item_content {
						text-align: left;
					}
					h4 {
						&.heading {
							font-size: 15.5px;
							color: #47525D;
							margin-bottom: 1.75rem;
						}
					}
					.content {
						display: table;
						.instruction_item_index_circle {
							float: left;
							border: 2px solid #5D6871;
							border-radius: 50%;
							width: 35px;
							height: 35px; 
							position: relative;
							.instruction_item_index {
								margin-top: 5px;
								font-size: 14.5px;
								font-weight: 600;
								color: #5D6871;
							}
						}
						.instruction_item_content {
							margin-left: 25px;
							position: absolute;
							padding: 0 2.5rem 0 0rem; 
						}
					}
				}
			}
		}
	}
}



