#import_page_container {
	width: 100%;
	max-width: 1150px;
	padding-right: 50px;
	padding-left: 50px;
	display: table;
	margin: 0 auto;
	#import_text {
		width: 100%;
		h2 {
			font-family: "Open Sans";
			font-weight: 600;
			color: #47525D;
		}
		textarea {
			width: 100%;
			border-radius: 2px;
			padding: 7px 8px 7px 8px;
		}
		button {

		}
		span {
			&.note {

			}
		}
	}
	#import_instructions {

	}
}