.search_people_container {
	display: block;
	position: relative;
	margin-top: 1.15em;
	padding-left: 0.25rem;
	h2 {
		letter-spacing: 0.01em;
		display: inline-block;
		font-size: 15.5px;
	    color: #888;
		padding: 0;
		font-weight: 600;
		margin-bottom: 0;
	}
	.people_list {
		margin-top: 1em;
		.user_list_item {
			border-bottom: 1px solid #f1f1f1;
			padding: 0 0 20px 60px;
			margin: 0 0 20px;
			position: relative;
			.member_image {
				position: absolute;
				left: 0;
				top: 0;
			}
			.user_list_info {
				padding: 0;
				min-height: 48px;
				font-size: 18px;
				line-height: 20px;
				font-weight: 600;
				.user_list_username {
					margin-bottom: 0;
				}
				.user_list_fullname {
					margin-left: 10px;
					font-size: 17px;
					font-weight: 400;
					color: #555459;
				}
			}
			.user_list_meta {
				margin: 8px 0 0;
				list-style-type: none;
				overflow: hidden;
				font-weight: 400;
				&.text_small {
					font-size: 14px;
				}
				&.text_muted {
					color: #767676;
				}
				li {
					float: left;
					margin-right: 10px;
					.octicon {
						font-family: FontAwesome;
						color: #767676;
						margin-right: 5px;
						&.school {
							&:before {
								content: '\f19d'
							}
						}
						&.clock {
							&:before {
								content: '\f017'
							}
						}
					}
				}
			}
		}
	}
}