.bubble_dropdown {
	position: absolute;
	z-index: 1002;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	min-width: 220px;
	max-width: 20pc;
	font-family: "Lato",sans-serif;
	color: #2c2d30;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.12);
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,.15);
	&.header_menu {
		padding-top: 20px;
	    min-width: 195px;
	    max-width: 195px;
	    ul {
	    	li {
	    		a {
	    		}
	    		&:hover {
	    			a {
	    			}
	    		}
	    	}
	    }
	}
	&.top {
		.bubble_arrow_border, .bubble_arrow {
			border: solid transparent;
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			bottom: 100%;
			left: 50%;
		}
		.bubble_arrow_border {
			border-bottom-color: rgba(61,70,77,0.1);
			border-width: 7px 11px;
		    margin-left: -11px;
		}
		.bubble_arrow {
			border-bottom-color: #fff;
			border-width: 6px 9px;
			margin-left: -9px;
		}
		&.right {
			.bubble_arrow_border, .bubble_arrow {
				left: 90%;
			}
		}
		&.left {
			.bubble_arrow_border, .bubble_arrow {
				left: 10%;
			}
		}
	}
	
	.bubble_arrow_border, .bubble_arrow {
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.title {
		width: 100%;
		font-size: 15px;
		color: #000;
		margin: 0px 0 10px;
		&.clickable {
			cursor: pointer;
		}
		.avatar_container {
			float: left;
			height: 36px;
			width: 32px;
			.avatar_component {
				margin-top: 0px;
				margin-left: 20px;
				margin-right: 5px;
			}
		}
		.name_container {
			box-sizing: border-box;
			width: 100%;
			padding-left: 40px;
			line-height: 35px;
			position: relative;
			.name {
				display: inline-block;
				vertical-align: middle;
				line-height: 18px;	
				word-wrap: break-word;
				width: 100%;
				margin-top: -15px;
			}
		}
		.clickable {
			cursor: pointer;
		}
	}
	ul {
		list-style-type: none;
		margin: .75rem 0;
		padding: 0;
		li {
			line-height: 1.5rem;
			margin: 0;
			&.divider {
				border-top: 1px solid rgba(0,0,0,.15);
				margin-top: 10px;
				padding-top: 10px;
			}
			a {
				display: block;
				text-decoration: none;
				padding: 0 1rem 0 .75rem;
				margin: 0 .75rem;
				border-radius: .25rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				outline: 0;
				font-size: 15px;
				line-height: 25px;
				background: 0 0;
				color: #2c2d30;
			}
			&:hover {
				a {
					text-shadow: 0 1px 1px rgba(0,0,0,.1);
					background: #32A2E6;
					color: #fff!important;
					.sprite_div {
						.sprite_text {
							color: #fff!important;
						}
					}
					&.danger {
						background: #ED4B59;
					}
				}
			}
		}
	}
}





