.bubble_dropdown {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(61,70,77,0.1);
	cursor: default;
	padding: 9px 15px;
	z-index: 9999;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	position: absolute;
	min-width: 195px;
	&.header_menu {
		padding: 20px;
	    min-width: 195px;
	    max-width: 195px;
	}
	&.top {
		.bubble_arrow_border, .bubble_arrow {
			border: solid transparent;
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			bottom: 100%;
			left: 50%;
		}
		.bubble_arrow_border {
			border-bottom-color: rgba(61,70,77,0.1);
			border-width: 7px 11px;
		    margin-left: -11px;
		}
		.bubble_arrow {
			border-bottom-color: #fff;
			border-width: 6px 9px;
			margin-left: -9px;
		}
		&.right {
			.bubble_arrow_border, .bubble_arrow {
				left: 90%;
			}
		}
		&.left {
			.bubble_arrow_border, .bubble_arrow {
				left: 10%;
			}
		}
	}
	
	.bubble_arrow_border, .bubble_arrow {
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.title {
		width: 100%;
		font-size: 15px;
		color: #000;
		margin: 0px 0 10px;
		&.clickable {
			cursor: pointer;
		}
		.avatar_container {
			float: left;
			height: 36px;
			width: 32px;
			.avatar_component {
				margin-top: 0px;
			}
		}
		.name_container {
			box-sizing: border-box;
			width: 100%;
			padding-left: 40px;
			line-height: 35px;
			position: relative;
			.name {
				display: inline-block;
				vertical-align: middle;
				line-height: 18px;	
				word-wrap: break-word;
				width: 100%;
				margin-top: -15px;
			}
		}
		.clickable {
			cursor: pointer;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			float: none;
			display: block;
			margin: 0 -20px;
			z-index: 100;
			list-style: none;
			position: relative;
			cursor: pointer;
			&:hover {
				background: #F2F9FC;
			}
			&.divider {
				border-top: 1px solid #edf1f5;
				margin-top: 10px;
				padding-top: 10px;
			}
			a {
				text-decoration: none;
				padding: 5px 20px;
				display: block;
				zoom: 1;
				min-width: 165px;
			}
		}
		&.set_actions_list {
			list-style-type: none;
			padding: 0;
			margin: 2px 0;
			li { 
				&.set_action {
					margin: 0 -15px;
				}
				.divider {
					border-top: 1px solid #edf1f5;
					margin-top: 0px;
					padding-top: 0px;
				}
				a {
					display: block;
					padding: 8px;
					text-decoration: none;
					color: black;
					white-space: nowrap;
					line-height: 22px;
					font-size: 15px;
				}
			}
		}
	}
}





